{% extends "base_DXcator.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>

  div#external {
    border: 0px solid #eee;
    position: relative;
    text-align: center;
  }
  div#external > ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: relative;
  }
  div#external:hover > ul {
    visibility: visible;
    opacity: 1;
    font-size: 150%;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    padding: 2%;
    text-align: center;
  }
  div#external > dl {
    visibility: visible;
    opacity: 1;
    vertical-align: middle;
  }
  div#external:hover > dl {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .vertical-center {
    margin: 0;
    margin-left: -40%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    color: #D40000;
    font-weight: normal;
    font-size: 180%;
    font-family: monospace;
    max-width: 80%;
    border: 0px solid blue;
  }

</style>

  <div id="external">
    <dl>
      <div class="vertical-center">
        Tutorial <img style="max-width: 4%;" src="{{ url_for( 'static', filename = 'mouse-icon.png') }}"/>
      </div>
    </dl>
    <ul>
      <stream style="color: #D40000; font-weight: bold; font-size: 120%;">Almost there!</stream>
      <br>
      <br>
      This is the crucial <stream style="font-weight: bold;">fifth step</stream>: <stream style="color: #D40000; font-weight: bold;">filtering</stream>
      <br>
      The whole point of Diagnosticator is helping you reducing the number of results to manually screen.
      <br>
      Help yourself further reducing it selecting a stringent Maximum  <stream style="text-decoration: underline;">Allele Frequency</stream>, Maximum <stream style="text-decoration: underline;">Allele Count</stream> and  <stream style="text-decoration: underline;">Variant Consequences</stream> to exclude.
      <br>
      You can find exhaustive documentation regarding those parameters <a href="{{ SERVER_ADDRESS }}/filtering" target="_blank">here</a>!
      <br>
      You also need a genelist file to specify the pool of genes you are interested in analyzing, you can find our Columbia Kidney genelist <a href="{{ SERVER_ADDRESS }}/download/kidney_acmg59.gl" target="_blank">here</a>!
      You can also create your own based on that format
      <br>
      Once all the fields are completed, just click on <stream style="color: blue;">Submit</stream> and launch your analysis!
    </ul>
  </div>


    <!-- my addictions -->
    <div style="" >
    <div style="display: inline-block; float: right; " >
    <div width="100%" style="text-align: right;" >
        {{ current_user.username }}
    </div>
    </div>


    <h1>Filters:</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

  <script>
    window.onload = function(){
        document.getElementById('close').onclick = function(){
            this.parentNode.parentNode
            .removeChild(this.parentNode);
            return false;
        };
    };
  </script>

{% endblock %}
